@charset "utf-8";

body {
  font-family: "Poppins";
}

.cabecalho {
  display: flex;
  justify-content: space-between;

}

.cabecalho .logo {
  width: 65px;
  margin-left: 10px;
  
}

.cabecalho .menu{
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 10px;
}